<div class="box tabular" id="journey_content" >
  <p>
   <%= label_tag 'request_funding_type', l(:request_funding_types) %>:
    
    <div id="journey">

    </div>
    <em><%= l(:table_help) %></em>
  </p>
</div>
