<% if EventConfiguration.tracker? @issue %>
<div class="event-links">
  <% content_for :header_tags do %>
      <%= stylesheet_link_tag 'events', :plugin => 'mec_events' %>
  <% end %>

  <%= link_to(l(:send_invitations), send_invitations_path(@issue.id), :method => :post, :class => 'highlight-link') if User.current.allowed_to?(:send_invitations, @project) %>
</div>
<% end %>
